<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583311855079-0lfs7j67nom2lrlqib3mgi7v37r8htqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583311855079-0lfs7j67nom2lrlqib3mgi7v37r8htqi</string>
	<key>API_KEY</key>
	<string>AIzaSyDZfqrQUSv9F4JbJzGw57DECBAonyc6Bv0</string>
	<key>GCM_SENDER_ID</key>
	<string>583311855079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.InclusiveCupertino</string>
	<key>PROJECT_ID</key>
	<string>cupertinohacks-de95d</string>
	<key>STORAGE_BUCKET</key>
	<string>cupertinohacks-de95d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583311855079:ios:1894788e83c9390cd00142</string>
</dict>
</plist>